/*HTML parts */
body
{
    background-color:rgb(108 112 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: white;

}
.app-title{
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    background-color: inherit;
    border: 0;
    cursor:pointer;
}
/* UPPER PART OF THE DOCUMENT */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* classes */
.btn
{
    font-size:small;
    font-weight: bold;
    color:rgb(8, 71, 245);
    background-color:rgb(196, 236, 181);
    border-color: black;
    border-radius:20px 20px 20px 20px;
    padding: 10px;
    text-decoration-line: none;
    cursor:pointer;
}

.btnsub{
    width: fit-content;
    align-self: center;
    justify-self: center;
}
.del
{
    color: red;
    padding: 2px;
    margin: 7px;
}

.dtpk
{
    font-size: 15px;
    font-weight: bold;
    color:darkblue;
    background-color: bisque;
    border-radius: 10px;
}
.app-body{
    height: 520px;
    width: auto;
    overflow-y: scroll;
}
.ftr
{
    background-color: rgb(231, 79, 79);
    bottom: 3%;
    left: 3%;

}
.txt
{
    font-style: italic;
    font-weight:bold; 
    color:rgba(28, 61, 247, 0.548);
}
.textbox
{
    border-color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    height: 25px;
    width: 200px;
}
.label
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 300;
    font-variant: normal;
}

.tbl
{
    background-color:blueviolet;
    padding:20px; 
    border: 3px;
}

.report
{
    height : 200px ; 
    width : 50%;
    overflow: auto;
    background-color: azure;
    color:blue;
}
.linkbutton
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: small;
    font-stretch: semi-condensed;
}
/* Specific parts */
.logout
{
    font-size: 30px;
    font-weight: bold;
}

.comment{
    background-color:aliceblue; 
    width:50%; 
    color: rgb(253, 1, 1) ; 
    font-style: italic;
}
.editprofile{
    display:flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 10px;
    align-items: center;
}
