<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyExp</title>
    <link rel="icon" href="{% static "imgs/expimg.png" %}" type="image/icon type">
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/allstyle.css" %}" type="text/css">
    <script src="{% static "js/expense.js" %}"> </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="header">
        
        {% if user.is_authenticated %}
        <div class="div-title "> <button class="app-title" onclick="go_home()" > Man T </button></div>
        <nav id="nav-head-right" class="nav">
            <!-- <input type="button" class="btn" onclick="go_profile()" value= "{{ userimage.userimage }}" />  -->
            <!-- <a class="btn" href="/profile/" > <img src=''  /> </a> -->
            <input type="button" class="btn" value="Report" onclick="js_report()" />
            <input type="button" class="btn" onclick="logout()" value="Log out" /> 
        </nav>
        {% else %}
        <div class="div-title"> <button class="app-title" onclick="go_index()" > Man T </button></div>
        <nav id="nav-head-right" class="nav">
            <ul class="nav-ul">
                <li> <a href="login/" class="btn" > Login </a> </li>  
                <li> <a href="register/" class="btn" > Sign up </a></li>
            </ul>
        </nav>    
        {% endif %}
    </header>
    <section class="app-body">
        {% block content %}
        {% endblock %}
    </section>
    <br/>
    <footer id="footer" class= "ftr" > 
        Website created and maintained by " Ramakrishnan P " <br/>
        Contact by phone : +91 9842378754,  Mail : ramakrishnanp30798@gmail.com
    </footer>   
 </body>   
</html>