<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyExp</title>
    <link rel="icon" href="{% static "imgs/expimg.png" %}" type="image/icon type">
    <link rel="stylesheet" href="{% static "css/allstyle.css" %}" type="text/css">
    <script src="{% static "js/expense.js" %}"> </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="header">
        
        {% if user.is_authenticated %}
        <div> <button class="app-title" onclick="go_home()" > Expense Manager </button></div>
        <nav id="nh" class="nav-header">
            <button onclick="go_profile()" class="btn"> {{ user.first_name }} </button> 
            <input type="button" class="btn" value="Log out" onclick="logout()"> 
        </nav>
        {% else %}
        <div> <button class="app-title" onclick="go_index()" > Expense Manager </button></div>
        <nav id="nh" class="nav-header">
            <a href="login/" class="btn" > Login </a> or 
            <a href="register/" class="btn" > Sign up </a>
        </nav>    
        {% endif %}
    </header>
    <section class="app-body">
        {% block content %}
        {% endblock %}
    </section>
    <br/>
    <footer id="footer" class= "ftr" > 
        Website created and maintained by " Ramakrishnan P " <br/>
        Contact by phone : +91 9842378754,  Mail : ramakrishnanp30798@gmail.com
    </footer>   
</body>   
</html>