{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <div id='logout' name='logout' class='logout'> 
        <input type="button" class="btn" value="Log out" onclick="logout()"> 
    </div>
    Please enter the expense name to find that. <br/><br/>
    <input type="text" name="txt_exp" id="txt_exp" class = "textbox"  /> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "button" id="btn_find" name="btn_find" value = "Find" class= "btn" onclick= "js_find()" /> 
    <br/> <br/>
    <div class= "report" >
        {% if exps == "Empty" %}
            Please enter any expense name to find !
        {% elif exps == "Not Found" %}
            Sorry! Noe expense matched with that name.
        {% else %}
            {% for exp in exps %}
                {{ exp.exp_date }} : {{ exp.exp_amount }} :  {{ exp.exp_name }}  <br/>
            {% endfor %}
        {% endif %}
        
    </div>
    <br/>    
    
    <input type = "button" value = "Home" class="btn" onclick = "go_home()" />
    
    <script type="text/javascript" src="{% static "js/find.js" %}" ></script>   

{% endblock %} 