{% extends 'base.html' %} 
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/entrystyle.css" %}" type="text/css">
{% endblock %}
{% block content %}
    <br/>
    <span class="txt txt-home">
    Welcome {{ user.first_name }}! 
    </span>
    <br/><br/>
    <div>
        <span class="txt txt-home"> 
           Total expense amount for the day 
           <input type="date" id="appdate" name='appdate' class="dtpk" 
           value="{{ appdate }}" onchange="viewall()" />
            is : {{ total }} 
        </span>
    </div>


    <div class="bgm" id="container">
       <div class="modal">
        <div class="close" > + </div>
           
            <img src="{% static "imgs/unnamed.png" %}" height="50px" width="50px" alt="expense icon">
            <form action="javascript:addexp()" >
               <input type="text" hidden="" id="exp_id" />
               <input type="text" class="inp" id="txt_expname" name="txt_expname" placeholder="Enter the expense name" required />
               <input type="text" class="inp" id="txt_expamt" name="txt_expamt" placeholder="Enter the amount" required />
               <textarea  rows=3 cols=10 class="inp" id="txt_description" name="txt_description" placeholder="Feel free to describe the expense here! Kindly do not include slash(/) ."></textarea>
               <input type="submit" value="Save" class="btn"/>
            </form>          
       </div>
   </div> 
   <div class="div-menus">
        <input type="button" class="btn" id="btn_showAdd" name="btn_showAdd" value="Add Expense" onclick="show()" />
        <input type="button" class="btn" value="Report" onclick="js_report()" />
        <input type="button" class="btn" value="Find Expense" onclick="js_goto_find()" />
    </div>
    <div class="report" >
       <br/>   
       <!--This table needs to be redesigned with CSS GRID or Flexbox -->
        <table id="exptable" > 
               <thead><tr> <th> </th> <th> Expense name </th> <th> Amount (In Rs.) </th> <th> Description about the Expense </th> <th> Edit </th> <th> Delete </th> </tr> </thead> 
            {% for exp in exps %}
            <tr>
                <td>  <p hidden="" id="p_id" > {{ exp.id }} </p> </td>
                <td> {{ exp.exp_name }} </td>  
                <td class="amount" > {{ exp.exp_amount }} </td>
                <td> {{ exp.exp_desc }} </td>
                <td> 
                    <input type="button" value="✎" class = "del" onclick="showedit('{{ exp.id }}', '{{ exp.exp_name }}', ' {{ exp.exp_amount }}' , '{{ exp.exp_desc }}' )" > 
                </td>
                <td>  
                    <input type="button" value="✘" class = "del" onclick="deleteexpense( '{{ exp.id }}' )" > 
                </td>
            </tr>    
            {% endfor %}
        </table>

    <!--
    <div class="tbl-head">
            
        </div>
        <div class="tbl-data">

        </div>
    -->
    </div>
    <br/><br/>
    <script type="text/javascript" src="{% static "js/entry.js" %}" ></script>   

{% endblock %} 