{% extends 'base.html' %}
{% block content %}
    <div class="welcome-lines"> 
     Welcome to the Expenses monitoring application ! <br/>
     Please login or sign up to do expense monitoring <br/>
   </div>
    <section class="sec-index">
        <div class="el-1">
            Expense Management is an essential task of every individual as well as an organization.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, minima dolore facilis consectetur voluptas quibusdam quia dolorum dolores nisi! Aut ut in sed ad dolorum totam temporibus iure magni minima.
        </div>
        <div class="el-2">
            Here you can manage your expenses in a wiser way!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga perferendis labore quibusdam placeat dolorem autem accusantium inventore fugiat nam, nemo veritatis hic culpa, dignissimos nulla ratione numquam consequatur quasi? Sit?
        </div>
        <div class="el-3">
            Hurray! You are in the right place to manage your expenses.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim earum laudantium nostrum inventore ratione aut non repellendus et, dolor quibusdam nemo quos omnis. Tempora modi possimus molestias veritatis, quod quibusdam?
        </div>
    </section>
    {% if messages %}
         {% for message in messages %} 
            {{ message }}
         {% endfor %}
    {% endif %}

{% endblock %}